*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    margin: 0px;
    padding: 0px;
    color: #333;
}

.headers{
    text-align: center;
}

#a2
{
    background-color: #3758F4;
}

#a4
{
    background-color: #67E01F;
}

#b2
{
    background-color: #F437B7;
}

#b4
{
    background-color: #E0381F;
}

#c2
{
    background-color: #F4D337;
}

#c4
{
    background-color: #981FE0;
}

#d2
{
    background-color: #37F474;
}

#d4
{
    background-color: #1FC7E0;
}

#a2, #a4, #b2, #b4, #c2, #c4, #d2, #d4{
    width: 100px;
    height: 100px;
}
.img
{
    width: 100px;
    height: 100px;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
}
table td
{
    padding: 10px;
    border: 4px solid black;
    border-collapse: collapse;
    border-radius: 5%;
}

#a1, #a3, #b1, #b3, #c1, #c3, #d1, #d3 {
    background-image: linear-gradient(#EC13BE, #BEEC13, #13BEEC);
}
nav ul{
list-style-type: none;
}

nav a:hover{
    background-color: #0E5863;
}

nav{
    padding: 10px;
    background-color: #116C7A;
}

footer{
    padding:10px;
    background-color: #116C7A;
}

