/* cellen */
#a1
{
    background-color: #ffccff;
    color: #ffccff;
}
#a2
{
    background-color: #ff00ff;
    color: #ff00ff;
}
#a3
{
    background-color: #ccccff;
    color: #ccccff;
}
#a4
{
    background-color: #9900ff;
    color: #9900ff;
}
#b1
{
    background-color: #6600ff;
    color: #6600ff;
}
#b2
{
    background-color: #33ffff;
    color: #33ffff;
}
#b3
{
    background-color: #0033ff;
    color: #0033ff;
}
#b4
{
    background-color: #3399ff;
    color: #3399ff;
}
#c1
{
    background-color: #33cc00;
    color: #33cc00;
}
#c2
{
    background-color: #ffff00;
    color: #ffff00;
}
#c3
{
    background-color: #ffcc33;
    color: #ffcc33;
}
#c4
{
    background-color: #ff9966;
    color: #ff9966;
}
#d1
{
    background-color: #ff3300;
    color: #ff3300;
}
#d2
{
    background-color: #660000;
    color: #660000;
}
#d3
{
    background-color: #333399;
    color: #333399;
}
#d4
{
    background-color: #663300;
    color: #663300;
}

.img
{
    width: 200px;
    height: 200px;
}

table td
{
    padding: 10px;
    border: 4px solid black;
    border-collapse: collapse;
    border-radius: 5%;
}